.site-layout-content {
    min-height: 280;
    padding: 24;
    background: #fff;
  }
  .site-layout-content-2 {
    min-height: 280;
    padding: 24;
  }
  #components-layout-demo-top .logo {
    float: left;
    width: 100%;
    max-width: 169px;
    height: 31px;
    margin: 16px 24px 16px 0;
  }
  .ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  
  .site-layout-sider {
    background: #F0F2F5;
    min-height: 280;
  }
    
  .site-layout-sider-1 {
    background: #FFFFFF;
    min-height: 280;
  }

  .site-card-border-less-wrapper {
  width: 250;
}